@import "node_modules/normalize.less/normalize.less";

@font_montserrat: 'Montserrat', sans-serif;
@font_roboto: 'Roboto', sans-serif;
@font_kaushan: 'Kaushan Script', cursive;

@color_white: #ffffff;
@color_blue: #95e1d3;
@color_black: #000000;
@color_lite_black: #333333;
@color_grey: #999999;
@color_pink: #f38181;
@color_yellow: #fce38a;
@color_lite_grey:  #f8f8f8;


a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.banner {
    &-outer {
        background-blend-mode: lighten;
        background: url(../img/bg.png), linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
        background-size: cover;
        background-position: center;
        color: @color_white;
    }

    &-header {
        display: flex;
        align-items: baseline;
        padding-top: 21px;
        margin-bottom: 120px;

        &-logo {
            color: @color_white;
            font-family: @font_montserrat;
            font-size: 30px;
            font-weight: 700;
        }

        &-menu {
            display: flex;
            justify-content: space-between;

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                &-link {
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;                    
                    padding-bottom: 6px; 

                    &:hover {
                        color: @color_yellow;
                    }

                    .some-top {
                        margin-top: -4px;
                    }
                }
                
                &-border {
                    height: 3px;
                    background-color: @color_yellow;
                }
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;

        &-subtitle {
            color: @color_white;
            font-family: @font_kaushan;
            font-size: 72px;
            font-weight: 400;
            margin-bottom: 22px;
        }

        &-title {
            color: @color_white;
            font-family: @font_montserrat;
            font-size: 150px;
            font-weight: 700;
            line-height: 140px;
            text-transform: uppercase;
            margin-bottom: 54px;
        }

        &-line {
            width: 60px;
            height: 3px;
            background-color: @color_white;
        }

        &-button {
            border: 3px solid @color_white;
            color: @color_white;
            font-family: @font_montserrat;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 8px 28px;                    
            margin-top: 55px;

            &:hover {
                color: @color_pink;
                border: 3px solid @color_pink;
            }
        }
    }

    &-slider {
        &-item {
            &-time {
                position: relative;
                width: 100%;
                height: 3px;
                background-color: @color_white;                
                margin-bottom: 16px;
                opacity: 0.5;

                &-loader {
                    position: absolute;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background-color: @color_pink;
                }
            }

            &-text {
                display: flex;
                align-items: baseline;                
                margin-bottom: 20px;
                opacity: 0.7;

                &-first {
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 24px;
                    font-weight: 700;
                    margin-right: 5px;
                }

                &-second {
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-subtitle {
        color: @color_lite_black;
        font-family: @font_kaushan;
        font-size: 24px;
        font-weight: 400;
        margin-top: 85px;
        margin-bottom: 10px;
    }

    &-title {
        color: @color_lite_black;
        font-family: @font_montserrat;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 33px;
    }

    &-line {        
        width: 60px;
        height: 3px;
        background-color: @color_pink;
        margin-bottom: 45px;
    }

    &-text {
        color: @color_grey;
        font-family: @font_roboto;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }
}

.about {
    &-outer {
        background-color: @color_white;
    }

    &-images {
        margin-top: 100px;
        margin-bottom: 110px;

        &-item {
            &-inner {
                position: relative;
                background-color: @color_blue;
                height: 100%;

                &-layer {                    
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);;
                    opacity: 0;
                }
            }            
        }
    }
}

.facts {
    &-outer {
        background-color: @color_blue;
    }

    &-row {
        position: relative;
    }

    &-lines {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        &-item {                
            height: 100%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    &-blocks {
        display: flex;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            padding-top: 40px;
            padding-bottom: 55px;            
            width: 20%;

            &-number {
                color: @color_white;
                font-family: @font_montserrat;
                font-size: 72px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &-text {
                color: @color_white;
                font-family: @font_montserrat;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}

.service {
    &-outer {
        background-color: @color_white;
    }

    &-blocks {
        margin-top: 20px;
        margin-bottom: 120px;
        &-item {
            display: flex;

            &-text {
                margin-left: 30px;
                &-title {
                    color: @color_lite_black;
                    font-family: @font_montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 20px;
                }

                &-subtitle {
                    color: @color_grey;
                    font-family: @font_roboto;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }            
        }

        &-line {
            width: 100%;
            height: 1px;
            background-color: #e5e5e5;
            margin: 50px 0;
        }
    }
}

.feauture {
    &-outer {
        background-blend-mode: screen;
        background-image: url(../img/bg1.png);
        background-color: rgba(255, 255, 255, 0.85);
        background-size: cover;
        background-position: center;
    }

    &-devices {
        display: flex;
        justify-content: center;

        &-images {
            position: relative;
            text-align: center;

            &-iphone {
                position: absolute;
                right: -140px;
                bottom: -90px;
            }
        }
    }
}

.service2 {
    &-content {
        margin-top: 90px;
        margin-bottom: 120px;

        &-accordeon {            
            &-tab {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #e5e5e5;
                height: 15%;

                &-caption {
                    color: #333333;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;

                    img {
                        margin-right: 15px;
                    }
                }
            }

            &-toggle {
                border: 1px solid #e5e5e5;
                height: 35%;
                overflow: scroll;
                overflow-x: hidden;
                box-sizing: border-box;
                padding: 10px;
                display: none;

                &-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;       
                    color: @color_grey;
                    font-family: @font_roboto;
                    font-size: 15px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 24px;
                    box-sizing: border-box;
                }
            }
        }
        /*
        &-accordeon {
            &-inner {
                height: 100%;
            }

            &-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 1px solid #e5e5e5;
                height: 20%;

                &-title {
                    display: flex;
                    align-items: center;

                    &-text {
                        color: @color_lite_black;
                        font-family: @font_montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-left: 15px;
                    }
                }
            }

            &-bottom {
                border: 1px solid #e5e5e5;
                color: @color_grey;
                font-family: @font_roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                overflow: scroll;
                overflow-x: hidden;
                height: 30%;
            }
        } */
    }
}

.quote {
    &-outer {
        background-color: @color_lite_grey;
        margin-bottom: 15px;
    }

    &-body {
        display: flex;
        justify-content: space-between;

        &-arrow {
            display: flex;
            align-items: center;

            &-left {
                transform: rotate(-90deg);
            }

            &-right {
                transform: rotate(90deg);
            }
        }

        &-slide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 70px 75px;

            &-img {
                border: 3px solid @color_blue;
                padding: 45px;
                margin-right: 60px;
            }

            &-phrase {
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-text {
                    color: #999999;
                    font-family: @font_roboto;
                    font-size: 24px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 36px;
                }

                &-autor {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                    &-line {
                        width: 60px;
                        height: 3px;
                        background-color: @color_pink;
                    }

                    &-name {
                        margin-left: 10px;
                        color: @color_lite_black;
                        font-family: @font_kaushan;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.team {
    &-outer {
        background-color: @color_white;
    }

    &-images {
        text-align: center;
        margin-top: 90px;
        margin-bottom: 115px;

        &-item {
            display: flex;
            flex-direction: column;

            &-inner {
                position: relative;
                background-color: @color_blue;
                height: 100%;

                &-layer {                    
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);;
                    opacity: 0;

                    &-social {
                        display: flex;
                        align-items: center;
                        justify-content: center;                        
                        height: 56px;
                        width: 56px;
                        background-color: @color_yellow;
                        margin-right: 1px;

                        &:hover {
                            background-color: @color_pink;
                        }
                    }
                }                
            }

            &-name {
                background-color: @color_white;
                margin-top: 30px;
                color: @color_lite_black;
                font-family: @font_montserrat;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
            }

            &-position {
                margin-top: 15px;
                background-color: @color_white;
                color: @color_grey;
                font-family: @font_roboto;
                font-size: 15px;
                font-weight: 400;
                font-style: italic;
                line-height: 24px;
            }            
        }
    }
}

.logos {
    text-align: center;

    &-outer {
        background-color: @color_lite_grey;
        padding: 50px 0;
    }
}

.work {
    &-outer {
        background-color: @color_white;
        margin-top: 25px;
        margin-bottom: 100px;
    }
}

.work2 {
    &-outer {
        background-color: @color_white;
    }

    &-item {
        &-image {
            position: relative;
            &-layer {                    
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);;
                opacity: 0;

                &-title {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    color: @color_white;
                    font-family: @font_montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }

                &-subtitle {
                    color: @color_white;
                    font-family: @font_roboto;
                    font-size: 15px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 24px; 
                }
            }
        }
    }
}

.testimonial {
    &-outer {
        background-color: @color_white;
    }

    &-body {
        display: flex;
        justify-content: space-between;        
        margin-top: 100px;
        margin-bottom: 130px;

        &-arrow {
            display: flex;
            align-items: center;

            &-left {
                transform: rotate(-90deg);
            }

            &-right {
                transform: rotate(90deg);
            }
        }

        &-slide {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-left: 45px;
            margin-right: 75px;

            &-phrase {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 30px;

                &-text {
                    color: #999999;
                    font-family: @font_roboto;
                    font-size: 24px;
                    font-weight: 300;
                    font-style: italic;
                    line-height: 36px;
                }

                &-autor {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;

                    &-line {
                        width: 60px;
                        height: 3px;
                        background-color: @color_pink;
                    }

                    &-name {
                        margin-left: 10px;
                        color: @color_lite_black;
                        font-family: @font_kaushan;
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.people {
    &-outer {
        padding-top: 25px;
        background-blend-mode: screen;
        background-image: url(../img/bg2.png);
        background-color: rgba(255, 255, 255, 0.85);
        background-size: cover;
        background-position: center;
    }

    &-blocks {
        margin-top: 25px;
        padding-bottom: 50px;

        &-item {
            display: flex;
            margin-bottom: 80px;

            &-img {
                margin-left: 20px;
            }

            &-content {
                margin-left: 30px;
                &-name {
                    color: @color_lite_black;
                    font-family: @font_montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
    
                &-position {
                    color: @color_grey;
                    font-family: @font_roboto;
                    font-size: 15px;
                    font-weight: 400;
                    font-style: italic;
                    line-height: 24px;
                    margin-bottom: 15px;
                }

                &-line {
                    width: 60px;
                    height: 3px;
                    background-color: @color_pink;
                    margin-bottom: 25px;
                }

                &-text {
                    color: @color_grey;
                    font-family: @font_roboto;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }
}

.blog {
    &-outer {
        padding-top: 25px;
        background-color: @color_white;
    }

    &-posts {
        &-item {
            margin-bottom: 120px;
            &-image {
                position: relative;
                margin-bottom: 20px;

                &-data {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: @color_blue;
                    padding: 15px;
                    left: -10px;
                    bottom: 10px;

                    &-number {
                        color: @color_white;
                        font-family: @font_montserrat;
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 1;
                        text-transform: uppercase;
                    }

                    &-month {
                        color: @color_white;
                        font-family: @font_roboto;
                        font-size: 15px;
                        font-weight: 400;
                        font-style: italic;
                    }
                }
            }

            &-title {
                color: @color_lite_black;
                font-family: @font_montserrat;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            &-subtitle {
                color: @color_grey;
                font-family: @font_roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 20px;
            }

            &-line {
                width: 100%;
                height: 1px;
                background-color: #e5e5e5;
            }

            &-statistics {
                display: flex;
                color: @color_grey;
                font-family: @font_roboto;
                font-style: italic;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;

                img {
                    margin-right: 7px;
                }

                &-view {                    
                    margin-right: 20px;
                }
            }
        }
    }
}

.map {
    &-outer {
        padding: 57px 0;
        background-blend-mode: screen;
        background-image: url(../img/bg3.png);
        background-color: rgba(255, 255, 255, 0.85);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        color: @color_pink;
        font-family: @font_montserrat;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 0;
    }

    &-line {
        width: 60px;
        height: 3px;
        background-color: @color_pink;
    }
}